html,
body {
  margin: 0;
  width: 100%;
  text-align: center;
}

#testData {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 8px;
  border: silver;
  box-shadow: rgba(5, 2, 4, 0.3) 0px 2px 10px 3px;
  margin: 5% 1%;
  width: 30%;
  min-height: 250px;
  float: left;
}

.card h2 {
  background-color: teal;
  margin: 0;
  line-height: 50px;
  border-radius: 8px 8px 0 0;
  color: white;
  border-bottom: 2px solid #064848;
}

.card li {
  text-align: initial;
}

.new {
  border: solid 1px #ddd;
  padding: 5px;
}


@media all and (max-width: 700px) {
  .card {
    width: 90%;
    margin: 5%;
  }
}